{
    "env": {
        "development": {
            "presets": ["react", "stage-1"],
            "plugins": [
                ["import", {
                    "libraryName": "material-ui",
                    "libraryDirectory": "/",
                    "camel2DashComponentName": false,
                    }],
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-object-rest-spread",
                "transform-decorators-legacy"
            ]
        },
        "development.hot": {
            "presets": ["react", "stage-1"],
            "plugins": [
                ["import", {
                    "libraryName": "material-ui",
                    "libraryDirectory": "/",
                    "camel2DashComponentName": false,
                    }],
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-object-rest-spread",
                "react-hot-loader/babel",
                "transform-decorators-legacy"
            ]
        },
        "production": {
            "presets": ["react", "stage-1", ["env", { modules: false }]],
            "plugins": [
                ["import", {
                    "libraryName": "material-ui",
                    "libraryDirectory": "/",
                    "camel2DashComponentName": false,
                    }],
                "transform-object-rest-spread",
                "transform-decorators-legacy"
            ]
        }
    }
}
